.vs/
Core/obj/
Core/bin/
Su/bin/
Su/obj/
AdminApi/obj/
AdminApi/bin/
AdminApi/Properties/PublishProfiles/FolderProfile.pubxml
AdminApi/Properties/PublishProfiles/FolderProfile.pubxml.user
AdminApi/AdminApi.csproj.user
admin-front/localhost.pem
admin-front/localhost-key.pem
Www/bin/
Www/obj/
Www/Properties/PublishProfiles/FolderProfile.pubxml
Www/Properties/PublishProfiles/FolderProfile.pubxml.user
Www/Www.csproj.user
AdminApi/secrets.json
Www/secrets.json
data
for-nginx
data/
